[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = {extras = ["all"], version = "*"}
edgedb = "*"

[dev-packages]
pytest = "*"
ipython = "*"
pytest-aio = "*"

[requires]
python_version = "3.10"

[scripts]
repo_root = "./scripts/repo_root_gdb"
format = "./scripts/format_gdb"
