[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = {extras = ["all"], version = "*"}
edgedb = "*"
black = "*"
colorlog = "*"
coverage = "*"
dacite = "*"
flake8 = "*"
gitpython = "*"
isort = "*"
openai = "*"
pandas = "*"
pipreqs = "*"
pyyaml = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
setuptools = "*"
spacy = "*"
tabulate = "*"
toml = "*"
tqdm = "*"

[dev-packages]
pytest = "*"
ipython = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.10"

[scripts]
repo_root = "./scripts/repo_root_gdb"
format = "./scripts/format_gdb"
